:root {
    --color-dark-blue: #22223B;
    --color-blue: #4A4E69;
    --color-mauve: #9A8C98;
    --color-pinkish: #C9ADA7;
    --color-light: #F2E9E4;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-dark-blue);
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  width: 100%;
  padding: 20px;
  text-align: center;
}
h1 {
  color: var(--color-light);
}
h2, h3 {
  color: var(--color-dark-blue);
}

.container {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.section-title {
  color: var(--color-blue);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.ikigai-description {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-mauve);
  border-radius: 8px;
  color: var(--color-light);
}

.question {
  margin: 20px 0;
  font-weight: bold;
}

.option ,.option1,.option2,.option3,.option4,.option5,.option6,.option7 {
  background-color: var(--color-pinkish);  
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: var(--color-dark-blue);
  transition: background-color 0.3s;
}

.option:hover, .option1:hover, .option2:hover, .option3:hover, .option4:hover, .option5:hover, .option6:hover, .option7:hover, .option.selected , .option1.selected , .option2.selected , .option3.selected , .option4.selected , .option5.selected , .option6.selected , .option7.selected {
  background-color: var(--color-blue);
  color: var(--color-light);
}


.submit-button {
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.result {
  margin: 20px 8px;
  padding: 15px;
  background-color: var(--color-mauve);
  color: var(--color-light);
  border-radius: 8px;
  border: var(--color-dark-blue);
}

